# Python
__pycache__/
*.pyc
.venv/
backend/tienda.db
backend/uploads/*.png
backend/uploads/*.jpg
backend/uploads/*.jpeg
backend/uploads/*.webp
!backend/uploads/.gitkeep
backend/.env

# Node / Angular
node_modules/
frontend/dist/
frontend/.angular/

# OS
.DS_Store
Thumbs.db
